<h1>{{tituloP}}</h1>

{{titulo}}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<ul id="shopBeitech-list">
	<li class="loading">

		<img id ="ima" src="../../assets/images/loader.gif" />

	</li>
    <select [(ngModel)]="selectedValue" (ngModelChange)="getProductosPerCustomer2(selectedValue); cleanArray(); cleanDialo();" >
     <option value="" [selected]="isSelected"> Please choose one </option>
    <option *ngFor=" #i of customers" [value]="i.customerId">{{i.name}}</option>
</select>
</ul>




  <!--<ul>
    <li *ngFor="# p of products">
      {{ p.description }} <a  class="btn btn-eliminar">Adicionar</a>
    </li>
  </ul> -->
    

 <table>

 	  
        <th style="width: 20%">
            <mfDefaultSorter by="name">name</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="description">description</mfDefaultSorter>
        </th>
         <th style="width: 30%">
            <mfDefaultSorter by="description">Price</mfDefaultSorter>
        </th>
    
        <th style="width: 20%">
            <mfDefaultSorter by="description">Action</mfDefaultSorter>
        </th>
       
  
    <tr *ngFor=" #item of products">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
         <td>${{item.price}}</td>

        <td><button  class="btn btn-ver" (click)="log(item.productId,item.name,item.description,item.price)">Adicionar</button></td>

    </tr>
 


</table>
   
   <br>
    <h1>Generate Order</h1>
    <br>

    <table>

    
        <th style="width: 20%">
            <mfDefaultSorter by="name">name</mfDefaultSorter>
        </th>
            
        <th style="width: 20%">
            <mfDefaultSorter by="description">Action</mfDefaultSorter>
        </th>
       
  
    <tr *ngFor=" #item of productosOrder">
        <td>{{item.name}}</td>
  

        <td><button  class="btn btn-eliminar" (click)="delete(item); flag = !flag">Eliminar</button></td>

    </tr>
   
     </table>

     
	<!--<section> 
      <br>
    <br>

		please enter the following information:
		<br>
		<br>
    <div>

		<br>
	
		Delivery address: <input type="text" class="form-control" name="fname"  [(ngModel)]="textValue" required><br>
   </div>
   <br>
   <br>
   <button type="submit" (click)="imprimir()">Generate Order</button>

	</section>-->
	

  <div class="container">
    <h1>Aditional Information</h1>
    <form>
      <div class="form-group">
        <label for="name"> Delivery address:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="textValue" (ngModelChange)="cleanDialo()" required>
      </div>
      <br>
      <br>
      <button type="submit" *ngIf="textValue!=null" class="btn btn-success" (click)="imprimir(textValue,selectedValue)">Generate Order</button>
 
    </form>
     
     <br>

    <div *ngIf="flag" class="alert alert-success box-msg" role="alert">
        <strong>{{messagefull}}</strong> Your products has been saved.
    </div>

     
    
    

</div>
<br>
<br>

<div>
         <button type="submit" *ngIf="flag" class="btn btn-success" (click)="getOrdersPerCustomers(selectedValue)">See Orders</button>
    </div>

     <br>
     <br>

     <table>

    
        <th style="width: 20%">
            <mfDefaultSorter by="name">OrderId</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="description">Creation Date</mfDefaultSorter>
        </th>
         <th style="width: 30%">
            <mfDefaultSorter by="description">Delivery Address</mfDefaultSorter>
        </th>
    
        <th style="width: 20%">
            <mfDefaultSorter by="description">Delivey Date</mfDefaultSorter>
        </th>
       
  
    <tr *ngFor=" #ord of arrayOrders">
         <td>{{ord.orderId}}</td>
        <td>{{ord.creationDate}}</td>
        <td>{{ord.deliveryAddress}}</td>
         <td>{{ord.deliveryDate}}</td>

    </tr>
 


</table>





